<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd ">

	<bean id="testbean" class="beans.Test">
		<property name="fruits">
			<util:list list-class="java.util.Vector">
				<value>Apple</value>
				<value>Oramge</value>
				<value>Mongo</value>
			</util:list>
		</property>
		<property name="criketers">
			<util:set set-class="java.util.TreeSet">
				<value>ayub</value>
				<value>sakib</value>
				<value>nafiz</value>
				<value>sachine</value>
			</util:set>
		</property>
		<property name="cc">
			<util:map map-class="java.util.Hashtable">
				<entry key="india" value="delhi"></entry>
				<entry key="bangladesh" value="dhaka"></entry>
				<entry key="pakistan" value="islambad"></entry>
				<entry key="srilanka" value="colombo"></entry>

			</util:map>
		</property>
	</bean>

</beans>