
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.0.xsd  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd ">
	<!-- <bean -->
	<!-- class="org.springframework.beans.factory.config.MethodInvokingFactoryBean"> -->
	<!-- <property name="staticMethod" value="com.beans.CarFactory.setCarName"></property> -->
	<!-- <property name="arguments"> -->
	<!-- <list> -->
	<!-- <value>com.beans.Honda</value> -->
	<!-- </list> -->
	<!-- </property> -->
	<!-- </bean> -->

	<bean id="cf" class="com.beans.CarFactory">
		<property name="carName" value="com.beans.Audi"></property>
	</bean>


	<bean id="c" factory-bean="cf" factory-method="getInstance"></bean>

</beans>
